body {
  height: 100vh; /* 100vh = 100% viewport height */
  margin: 0;
  display: flex; /* Enable flexbox for the body */
  flex-direction: column; /* Stack content vertically */
}
.social-btn {
  opacity: 0.6; /* You can adjust the opacity value as needed */
  transition: opacity 0.3s ease-in-out; /* Smooth transition effect */
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.social-btn:hover {
  opacity: 1; /* Fully opaque on hover */
}
button.comingsoon {
  padding: 10px 15px;
  background-color: #4f5052;
  color: rgb(255, 255, 255, 0.3);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button.available {
  padding: 10px 15px;
  background-color: #4caf50;
  color: rgb(255, 255, 255, 0.9);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button.available:hover {
  padding: 10px 15px;
  background-color: #4caf50;
  color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  cursor: pointer;
}

button.neon {
  padding: 10px 15px;
  background-color: #384191;
  color: rgb(255, 255, 255, 0.9);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover.neon {
  background: #ffd700;
  color: #050801;
  box-shadow: 0 0 5px #ffd700, 0 0 25px #ffd700, 0 0 40px #ffd700;
}

.mybadge {
  display: inline-block;
  padding: 5px 10px; /* Adjust the padding as needed */
  border-radius: 10px; /* Adjust the border-radius for curved corners */
  font-size: 10pt;
}

/* Style for Paid Item */
.paid-badge {
  background-color: #ffd700; /* Gold */
  color: #000; /* Black text for contrast */
  box-shadow: 0 0 5px #ffd700;
}

.free-badge {
  background-color: #4caf50; /* Green */
  color: #fff; /* White text for contrast */
}
.comingsoon-badge {
  background-color: #ff9900; /* Green */
  color: #fff; /* White text for contrast */
}
img.showcase {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h1.title {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  animation: fadeIn 2s ease-in;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  animation: fadeInUp 1s ease-out;
  background-color: #212229 !important;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card > img {
  padding: 5px;
  border-radius: 15px;
  object-fit: cover;
  height: 250px;
  min-width: 20vw;
}
